*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/aguascalientes/** filter=lfs diff=lfs merge=lfs -text
data/processed/aguascalientes/02_manzanas_raster_binary filter=lfs diff=lfs merge=lfs -text
